/* TAG selector */
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

/* CLASS selector */
.team-lab-box {
  border: 2px solid #d71921;
  padding: 15px;
  background-color: white;
  border-radius: 8px;
}

/* ID selector */
#lab-title {
  color: #d71921;
  text-align: center;
}
